.App {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.timers {
  padding: 30px 10px;
}
.ant-card {
  margin-bottom: 20px !important;
  margin-right: 10px !important;
}

.ant-card.running {
  background-color: darkseagreen;
}

.ant-card.paused {
  background-color: cornsilk;
}

.timer-btn-area {
  cursor: pointer;
}

.delete-timer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 28px;
  cursor: pointer;
}